@model List<TimeTrackingApp.Models.ViewModel.PanelViewModel>

@{
    ViewData["Title"] = "Użytkownicy";
}

<script>
    var szer = window.matchMedia("(max-width: 1135px)");
    document.addEventListener("DOMContentLoaded", function () {
        renderTable();
    });
    szer.addEventListener('change', (x) => {
        renderTable();
    });

    function renderTable() {
        if(szer.matches){
            document.getElementById('table').innerHTML = `
                @foreach (var user in Model)
                {
                        <tr><th>Id</th><td>@user.Id</td></tr>
                        <tr><th>Email</th><td>@user.Email</td></tr>
                        <tr><th>Imię</th><td>@user.FirstName</td></tr>
                        <tr><th>Nazwisko</th><td>@user.LastName</td></tr>
                        <tr><th>Stanowisko</th><td>@user.Position</td></tr>
                        <tr><th>Dział</th><td>@user.Department</td></tr>
                        <tr><th>Rola</th><td>@user.Role</td></tr>
                        <tr><th>Aktywny</th><td>@(user.IsActive ? "Tak" : "Nie")</td></tr>
                        <tr><th>Utworzono</th><td>@user.CreatedAt.ToString("yyyy-MM-dd")</td></tr>
                        <tr>
                        <th>Usuń/Edit</th>
                        <td class="text-center">
                        <div class="d-flex flex-wrap justify-content-center gap-2">

                            <form asp-action="Delete" method="post" asp-route-id="@user.Id" class="action-form">
                                <button class="btn btn-danger w-100">USUŃ</button>
                            </form>

                            <form asp-action="Edit" method="get" asp-route-id="@user.Id" class="action-form">
                                <button class="btn btn-primary w-100">EDYTUJ</button>
                            </form>

                            <form asp-action="ResetUserPassword"
                                  method="post"
                                  asp-route-userId="@user.Id"
                                  class="action-form"
                                  onsubmit="return confirm('Czy na pewno chcesz zresetować hasło tego użytkownika?');">
                                <button type="submit" class="btn btn-warning w-100">
                                    RESET HASŁA
                                </button>
                            </form>

                            @if (user.IsActive)
                            {
                                    <form asp-action="Deactivate" asp-route-id="@user.Id" method="post" class="action-form">
                                        <button type="submit" class="btn btn-secondary w-100">
                                            DEZAKTYWUJ
                                        </button>
                                    </form>
                            }
                            else
                            {
                                    <form asp-action="Activate" asp-route-id="@user.Id" method="post" class="action-form">
                                        <button type="submit" class="btn btn-success w-100">
                                            AKTYWUJ
                                        </button>
                                    </form>
                            }

                        </div>
                    </td>
                        <tr><td colspan="2"><hr /></td></tr>

                        </tr>
                }
            `;
        } else {
            document.getElementById('table').innerHTML = `
                <tr>
                    <th>Id</th><th>Email</th><th>Imię</th><th>Nazwisko</th><th>Stanowisko</th>
                    <th>Dział</th><th>Rola</th><th>IsActive</th><th>Utworzony</th><th>Usuń/Edit</th>
                </tr>
                @foreach (var user in Model)
                {
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.Email</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Position</td>
                            <td>@user.Department</td>
                            <td>@user.Role</td>
                            <td>@(user.IsActive ? "Tak" : "Nie")</td>
                            <td>@user.CreatedAt.ToString("yyyy-MM-dd")</td>
                            <td class="text-center">
                                <div class="d-flex flex-wrap justify-content-center gap-2">

                                    <form asp-action="Delete" method="post" asp-route-id="@user.Id" class="action-form">
                                        <button class="btn btn-danger w-100">USUŃ</button>
                                    </form>

                                    <form asp-action="Edit" method="get" asp-route-id="@user.Id" class="action-form">
                                        <button class="btn btn-primary w-100">EDIT</button>
                                    </form>

                                    <form asp-action="ResetUserPassword"
                                          method="post"
                                          asp-route-userId="@user.Id"
                                          class="action-form"
                                          onsubmit="return confirm('Czy na pewno chcesz zresetować hasło tego użytkownika?');">
                                        <button type="submit" class="btn btn-warning w-100">
                                            RESET HASŁA
                                        </button>
                                    </form>

                                    @if (user.IsActive)
                                        {
                                            <form asp-action="Deactivate" asp-route-id="@user.Id" method="post" class="action-form">
                                                <button type="submit" class="btn btn-secondary w-100">
                                                    DEZAKTYWUJ
                                                </button>
                                            </form>
                                        }
                                        else
                                        {
                                            <form asp-action="Activate" asp-route-id="@user.Id" method="post" class="action-form">
                                                <button type="submit" class="btn btn-success w-100">
                                                    AKTYWUJ
                                                </button>
                                            </form>
                                        }
                            </div>
                            </td>

                        </tr>
                }
            `;
        }
    }
</script>


<div class="d-flex justify-content-center mb-3">
    <form asp-action="Create" method="get" class="w-100 w-md-50">
        <button class="btn btn-success w-100 py-2 fs-5 fw-bold rounded">DODAJ</button>
    </form>
</div>

    <table class="table table-striped table-bordered text-center align-middle" id="table">
    </table>

<div class="d-flex flex-wrap justify-content-center gap-2 mt-4 mb-4">
    <a class="btn btn-primary flex-grow-1 flex-md-grow-0" asp-action="WorkReport">Raport czasu pracy</a>
    <a class="btn btn-success flex-grow-1 flex-md-grow-0" asp-action="LeaveRequests">Wnioski urlopowe</a>
</div>
