@model List<TimeTrackingApp.Models.ViewModel.ManagerViewModel>

@{
    ViewData["Title"] = "Pracownicy działu";
}

<script>
    var szer = window.matchMedia("(max-width: 768px)");
    document.addEventListener("DOMContentLoaded", function () {
        renderTable();
    });
    szer.addEventListener('change', (x) => {
        renderTable();
    });

    function renderTable() {
        if(szer.matches){
            document.getElementById('table').innerHTML = `
                @foreach (var e in Model)
                {
                            <tr><th>Imię i nazwisko</th><td>@e.FullName</td></tr>
                            <tr><th>Stanowisko</th><td>@e.Position</td></tr>
                            <tr><th>Godziny w miesiącu</th><td>@e.TotalHoursThisMonth.ToString("0.00")</td></tr>
                            <tr><th>Liczba wpisów</th><td>@e.EntriesCount</td></tr>
                            <tr>
                                <th>Akcje</th>
                                <td>
                                    <a class="btn btn-info w-100"
                                       asp-action="History"
                                       asp-route-id="@e.UserId">
                                        Historia
                                    </a>
                                </td>
                            </tr>
                            <tr><td colspan="2"><hr /></td></tr>
                }
            `;
        } else {
            document.getElementById('table').innerHTML = `
                <tr>
                    <th>Imię i nazwisko</th>
                    <th>Stanowisko</th>
                    <th>Godziny w miesiącu</th>
                    <th>Liczba wpisów</th>
                    <th>Akcje</th>
                </tr>
                @foreach (var e in Model)
                {
                            <tr>
                                <td>@e.FullName</td>
                                <td>@e.Position</td>
                                <td>@e.TotalHoursThisMonth.ToString("0.00")</td>
                                <td>@e.EntriesCount</td>
                                <td>
                                    <a class="btn btn-info"
                                       asp-action="History"
                                       asp-route-id="@e.UserId">
                                        Historia
                                    </a>
                                </td>
                            </tr>
                }
            `;
        }
    }
</script>

<h2 class="text-center mb-4">Pracownicy działu</h2>

<div class="mb-4 d-flex justify-content-center">
    <a class="btn btn-primary w-75 w-md-auto px-4 py-2 fs-6 fw-bold" asp-action="LeaveRequestsToApprove">
        Wnioski urlopowe do zatwierdzenia
    </a>
</div>

<table class="table table-striped table-bordered text-center align-middle" id="table">
</table>